apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Values.name }}
spec:
  replicas: {{ .Values.deployment.replicas }}
  selector:
    matchLabels:
      app: {{ .Values.name }}
  template:
    metadata:
      labels:
        app: {{ .Values.name }}
    spec:
      containers:
        - name: {{ .Values.name }}
          image: {{ .Values.deployment.image }}:{{ .Values.deployment.tag }}
          ports:
            - containerPort: {{ .Values.deployment.port }}
          env:
          - name: WMS_SERVER
            value: {{ .Values.deployment.env.wms-server }}
          #   - name: PUBLIC_URL
          #     value: https://ecds-dev.copernicus-climate.eu/c3s-apps/climate-pulse/
